@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
/*div{outline: 1px solid red}
.clearfix {
  *zoom: 1;
}*/

/*DEFINIDO*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  padding-top: 80px;
  color: #34495e;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a {
    text-decoration: none;
  color: inherit;/*#34495e;*/
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
/*GENERAL*/
/****====Hero-section====****/
#hero-section{
    background: url(../images/slider/bg1.jpg);
    margin-top: 0;
    height: 600px;

}
/**==more-information==**/
.more-information{
    background: rgba(33, 49, 65, 0.84);
    color: #fff;
    padding: 20px 0;
}
.more-information a{
    color: inherit;
}
ul.arrow{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.arrow li::before {
  font-family: FontAwesome;
  font-size: 11px;
  content: "\f105";
  margin-right: 5px;
}
/*=====HEADER======*/
.navbar {
    background-color: #34495e;
    border-color: #34495e;
    border-width:7px 0px;
    margin-bottom: 0;
    padding: 10px 0px;
}
.navigation {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	background: #2c3e50;
}

@import 'home';
@import 'services';
@import 'contact-us';

/***====CONTENT=====***/
.content
{
    padding: 50px 0;
}
/**=====BANNER====***/
.banner{
    background:#04b45f;
    color: #fff;
    margin-top: -16px;
    padding: 50px 0;
}
.list-banner{
    list-style: none;
    padding: 31px 0;
}
.list-banner li{
    display: inline-block;
}
.list-banner li+li:before{padding:0 5px;content:"/\00a0"}

@import 'about-us';
@import 'portfolio';
@import 'blog';

/***FOOTER***/
footer .col-md-6:first-child{
    color: #9d9d9d;
    padding: 15px 0;
}

